*{
    /*border: 1px blue solid;*/
}

#container{
    display: flex;
    justify-content: center;
}

.pageContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img{
    width: 300px;
}

#inputContainer{
    margin-top: 40px;
}

#startContainer div{
    display: flex;
    justify-content: center;
}

#startContainer button{
    width: 100px;
    height: 60px;
    font-size: 24px;
}

#backButton{
    width: 120px;
    height: 40px;
    font-size: 14px;
    margin-top: 40px;
}