*{
    /*border: 1px blue solid;*/
}

.container{
    display: flex;
    justify-content: center;
}

.pageContainer{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img{
    width: 300px;
}

a{
    color: black;
    text-decoration: none;
}

.inputContainer{
    margin-top: 40px;
}

#playButton{
    width: 100px;
    height: 60px;
    font-size: 24px;
}

.nextButton{
    width: 120px;
    height: 40px;
    font-size: 14px;
    margin-top: 40px;
}